<nav>
    <ul>
        <li><h1>Tapioka</h1></li>
        <li><a href='/posts'>Home</a></li>
        <li><a href=''>Trending</a></li>
        <li><a href=''>Notifications</a></li>
        <li><a href=''>Messages</a></li>
        <li><form action="submit"><input type="search"placeholder="Search"></input></form></li>
                <img class="avatar" src='/assets/blankUser.png'>
    </ul>
</nav>
