<div class="post-container">
    <a href="/posts/{{this.id}}">
        <img class="post-content" src="assets/blankUser.png">
    </a>

    <p class="post-description">{{this.description}}</p>
    
    
    
    
    
    </p>
</div>
