body, html {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 'n n n n'
                         'f m o t';
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 55px 1fr;
    grid-gap: 5px;
}

.nav {
    grid-area: n;
    border: 1px solid black;
}

.friends {
    grid-area: f;
    border: 1px solid black;
}

.feed {
    grid-area: m;
    border: 1px solid black;
}

.other {
    grid-area: o;
    border: 1px solid black;
}

.topics {
    grid-area: t;
    border: 1px solid black;
}
