<div class="postForm">
    <div class="nav">
        {{>nav}}
    </div>
    <div class="content">
        <img></img>
        
    </div>
    <div class="description">

    </div>
    <div class="topicSelection">

    </div>
    <div class="friends">

    </div>
</div>
