<div class="postForm">
    <div class="nav">
        {{>nav}}
    </div>
    <div class="content">

    </div>
    <div class="description">

    </div>
    <div class="topicSelection">

    </div>
</div>
